.btn-remove{
   padding: 0;

}
.hide{
    display: none;
}
.btn-icons{
    width: 50px;
    height: 50px;
    padding: 0;
}
img{
    width: 100%;
    height: 100%;
}
p{
    display: block;
    text-align: center;
}
.ingredients{
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2{
    display: block;
    text-align: center;
}
.fas{
    font-size: 20px;
}